<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}               <!-- 模板参数form将被替换为一个隐藏字段，用来是实现在配置中激活的CSRF保护。如果你已经激活了CSRF，这个字段需要出现在你所有的表单中。 -->
    <p>
        Please enter your Name:<br>
        {{form.name(size=80)}}<br>
        {% for error in form.errors.name %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Password:<br>
        {{ form.password }}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form.remember_me}} Remember Me?</p>
    <p><input type="submit" value="Sign In"></p>     <!-- 因为并没有在forms.py中定义提交按钮，必须按照普通的字段来定义。提交字段实际并不携带数据因此没有必要在表单类中定义。 -->
</form>
{% endblock %}